<div class="chat-page">
  <div class="msg-inbox">
    <div class="chats">
      <div class="msg-page">
        <app-receiver-chat-bubble></app-receiver-chat-bubble>
        <app-sender-chat-bubble></app-sender-chat-bubble>
        <app-receiver-chat-bubble></app-receiver-chat-bubble>
        <app-sender-chat-bubble></app-sender-chat-bubble>
        <app-receiver-chat-bubble></app-receiver-chat-bubble>
        <app-sender-chat-bubble></app-sender-chat-bubble>
        <app-receiver-chat-bubble></app-receiver-chat-bubble>
        <app-sender-chat-bubble></app-sender-chat-bubble>
        <app-receiver-chat-bubble></app-receiver-chat-bubble>
        <app-sender-chat-bubble></app-sender-chat-bubble>
      </div>
    </div>
  </div>
</div>
