.chat-page {
  padding: 0 0 50px 0;
}

.msg-inbox {
  border: 1px solid #ccc;
  overflow: hidden;
  padding-bottom: 30px;
}

.chats {
  padding: 30px 15px 0 25px;
}

.msg-page {
  height: 516px;
  overflow-y: auto;
}
