<div class="form">
  <form action="">
    <Label>Environment</Label>
    <select name="environment">
      <option value="master">Master</option>
      <option value="feature">Feature</option>
    </select>

    <label>Client</label>
    <select name="client">
      <option value="amex">Am-Ex</option>
      <option value="usbank">US Bank</option>
    </select>

    <label>Language</label>
    <select name="language">
      <option value="en-us">English US</option>
      <option value="fr">French</option>
    </select>

    <label>User Name</label>
    <input type="text" placeholder="type username here" name="username" />

    <label>Point Balance</label>
    <input type="text" value="20000" name="points" />

    <button type="submit">Launch</button>
  </form>
</div>
