.outgoing-chats {
  overflow: hidden;
  margin: 26px 20px;
}

.outgoing-msg {
  float: left;
  width: 40%;
  margin-left: 55%;
}

.outgoing-msg p {
  background: #007bff none repeat scroll 0 0;
  color: #fff;
  border-radius: 10px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 5px 10px 5px 12px;
  width: 100px;
}

.time {
  color: #777;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
